/* ----------------------------------------
   global
------------------------------------------- */
* {
	box-sizing: border-box;
}

html {
	font-size: 10px;
}

body {
	font-family: Verdana, sans-serif;
  font-size: 1.5em;
	-webkit-font-smoothing: antialiased;
	text-transform: uppercase;
	letter-spacing: .02em;
	text-align: center;
	color: #44545E;
}

/* Responsive images */
img {
	max-width: 100%;
}

/* ----------------------------------------
   fonts
------------------------------------------- */
p {
	font-family: 'Lato', sans-serif;
	text-transform: none;
	line-height: 1.4;
}

h1, h2, h3, h4 {
	font-weight: 600;
  text-align: center;
}

h1 {
	font-size: 4em;
	letter-spacing: 1.2em;
	letter-spacing: .8rem;
}

/*h2 {
  margin-top: 6em;
}*/

a {
	text-decoration: none;
	color: #7B98AA;
	font-weight: 600;
	transition: all .3s ease-in-out;
}

a:hover {
	color: #44545E;
}

/* ----------------------------------------
   list
------------------------------------------- */
ul a {
	text-transform: none;
}

ul {
	list-style: none;
}

li {
	display: block;
	text-align: left;
}

/* ----------------------------------------
   layout
------------------------------------------- */

section .gallery {
	padding: 105px 30px;
	padding: 7rem 2rem;
}

.wrap {
	max-width: 1000px;
	width: 100%;
	margin: 0 auto;
}

.grid-wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.col-third {
	width: 32%;
}

.col-half {
	width: 49.2%;
}

.vertical-center {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-ms-flex-wrap:  wrap;
	    flex-wrap:  wrap;
}

.callout {
	background-color: #CFF2F6;
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.gallery {
	display: flex;
  flex-flow: column wrap;
	height: 60em;
}

.gal-img {
	padding: 1em 0 1em 0;
}

h4 {
  margin: 6em, 0, 3em, 0;
}

/* ----------------------------------------
   header
------------------------------------------- */
header {
  height: 40em;
  color: #ffffff;
  display: flex;
  align-items: center;
  padding: 3em 0 3em 0;
  width: 100%;
  background-image: url('../img/home_header_bg.jpg');
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  box-sizing: border-box;
}

nav li {
	display: inline-block;
}

nav a {
	font-weight: 600;
	letter-spacing: .05em;
	display: inline-block;
	text-transform: uppercase;
	padding: 0 50px 0 50px;
}

.hamburger {
	display: none;
}

header h2 {
	font-size: 2.08em;
	letter-spacing: .48em;
	letter-spacing: 0.3rem;
}

h1 a {
	color: #44545E;
}

h1 a,
h1 a:hover,
header h2 {
	color: #ffffff;
}

/* ----------------------------------------
   aside
------------------------------------------- */
aside {
	text-align: left;
}

aside ul {
	list-style: disc;
}

aside li {
	display: list-item;
	color: #44545E;
}

.about {
  margin: 8em 0 8em 0;
  padding: 4em 0 4em 0;
  background-color: #CDF3F6;
}

.about p {
  margin: 1.5em 6em;
  padding: 1em 6em;
}
/* ========================================
   textbox and buttons
=========================================== */

.form-top {
  display: flex;
  flex-direction: row;
	justify-content: space-between;
}

.form-group input {
  width: 300px;
	margin-right: 2em;
  border: .2em solid #546278;
  box-sizing: border-box;
  font-weight: bold;
}

.error {
  border: .2em solid #ff0000;
}

button {
  text-transform: uppercase;
  color: #44545E;
  font-weight: bold;
  width: 35%;
  padding: .5em 1.2em;
  margin: .8em .8em;
  border: .2em solid #546278;
  box-sizing: border-box;
}

button {
  transition: all .2s ease-in-out;
}

button:hover {
  color: #edeef2;
  background-color: #334d96;

}

/* ----------------------------------------
Forms
------------------------------------------- */

#contact {
	padding-top: 2rem;
}

form {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

form button {
	width: 100%;
}

textarea {
	width: 100%;
	display: block;
}

input, textarea {
	border: 2px solid #44545E;
	margin-bottom: 12px;
	margin-bottom: .8rem;
	padding: 10px 10px;
	outline: 0;
}

::-webkit-input-placeholder {
   color: #7C878E;
   text-transform: uppercase;
   letter-spacing: 0.75px;
   letter-spacing: .05rem;
   font-size: 12.299px;
   font-size: .82rem;
   font-weight: 600;
}

:-moz-placeholder { /* Firefox 18- */
   color: #7C878E;
   text-transform: uppercase;
   letter-spacing: 0.75px;
   letter-spacing: .05rem;
   font-size: 12.299px;
   font-size: .82rem;
   font-weight: 600;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #7C878E;
   text-transform: uppercase;
   letter-spacing: 0.75px;
   letter-spacing: .05rem;
   font-size: 12.299px;
   font-size: .82rem;
   font-weight: 600;
}

:-ms-input-placeholder {
   color: #7C878E;
   text-transform: uppercase;
   letter-spacing: 0.75px;
   letter-spacing: .05rem;
   font-size: 12.299px;
   font-size: .82rem;
   font-weight: 600;
}

/* ----------------------------------------
Footer
------------------------------------------- */
footer {
	background-color: #CDF3F6;
	overflow: auto;
}

footer input {
	padding: 11px 10px;
	width: 300px;
	margin-right: 30px;
	margin-right: 2rem;
	border: 0;
	text-align: center;
}

footer .wrap {
	padding: 30px 15px;
	padding: 2rem 1rem;
}

.social-links a {
	font-size: 30px;
	font-size: 2rem;
	padding: 15px;
	padding: 1rem;
	margin-bottom: 30px;
	margin-bottom: 2rem;
	display: inline-block;
	color: #44545E;
}

.copyright {
	border-top: 2px solid #44545E;
	padding: 15px 0 3px;
	padding: 1rem 0 .2rem;
}

/* ----------------------------------------
Error Styles
------------------------------------------- */

.error-message {
	margin: -8px 0 12px;
  text-align: left;
  font-size: .9rem;
  color: #ED5254;
  display: none;
}

.error {
	border: 2px solid #ED5254;
}

/* ----------------------------------------
Media Queries
------------------------------------------- */
@media only screen and (max-width: 790px) {
	nav a {
		padding: .2rem 2rem;
	}
	.col-third {
		width: 100%;
	}
	.articles button {
		margin-top: .5rem;
	}

	.col-third img {
		display: block;
		margin: 3rem auto 1rem;
	}

	.col-third h3 {
		margin-bottom: .5rem;
	}

	.col-third:first-of-type img {
		margin-top: 0;
	}

}

@media only screen and (max-width: 560px) {
	html {
		font-size: 14px;
	}

	nav ul {
		display: none;
	}

	nav {
		background-color: transparent;
	}

	.hamburger {
		display: block;
		color: #fff;
		font-size: 1.7rem;
		position: absolute;
		top: 10px;
		left: 2px;
	}

	.col-half {
		width: 100%;
	}

	footer button {
		width: 300px;
	}

	footer input {
		margin-right: 0;
	}
